@using Cockpit.Components.Controls

<PopupBase @ref="_popup" Title="Event JSON">
    <Content>
        <div class="code-block-borderless">
            <CodeBlock Code="@FormatAsJson(JsonList)" Language="json" />
        </div>
    </Content>
</PopupBase>