@using Cockpit.Components.Controls

<Expander>
    <Icon>
        <svg class="icon-xs mr-2 text-pink-400" fill="currentColor" viewBox="0 0 20 20">
            <path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z" />
        </svg>
    </Icon>
    <Title>Agent Skills</Title>
    <Content>
        @foreach(var skill in new[] { "Code Generation", "File Operations", "Git Operations", "Terminal Access", "Web Search" })
        {
            <div class="px-3 py-1 flex items-center text-xs">
                <input type="checkbox" checked="@IsSkillEnabled(skill)" @onchange="() => ToggleSkill(skill)" class="mr-2" />
                <span>@skill</span>
            </div>
        }
    </Content>
</Expander>