@using Cockpit.Components.Controls

<Expander>
    <Icon>
        <svg class="icon-xs mr-2 text-yellow-400" fill="currentColor" viewBox="0 0 20 20">
            <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
        </svg>
    </Icon>
    <Title>Directory</Title>
    <Content>
        <div class="px-3 py-1.5 text-xs text-vscode-text">@CurrentDirectory</div>
    </Content>
</Expander>