@if(Commands.Count == 0)
{
	<div class="px-3 py-2 text-xs secondary-text">No commands configured</div>
}
else
{
	@foreach(var command in Commands)
	{
		<div class="px-3 py-1.5 hover:bg-vscode-hover cursor-pointer text-xs transition-colors"
		     @onclick="OpenCommandsSettings"
		     title="Click to manage commands">
			<span class="truncate">@command</span>
		</div>
	}
}
