@using Cockpit.Components.Controls
@using Cockpit.Features.Connection

<button class="connection-banner @_statusClass" @onclick="OpenPopup" title="Click for connection details">
    <span class="connection-dot @(_connectionFeature.Status == ConnectionStatusEnum.Checking ? "pulse" : "")"></span>
    <span class="connection-label">@_statusText</span>
    @if(_connectionFeature.LastChecked is not null)
    {
        <span class="connection-time">@_connectionFeature.LastChecked.Value.ToString("HH:mm:ss")</span>
    }
</button>

<ConnectionStatusPopup @ref="_popup" />