@using Cockpit.Components.Popups
@inherits LayoutComponentBase
@inject UIStateService UIState
@inject ChatService ChatService
@inject ThemeService ThemeService
@implements IDisposable

<!-- Main Container -->
<div class="flex h-screen">
    <!-- Left Sidebar - Sessions -->
    <SessionPannel />

    <!-- Left Resize Handle -->
    <div id="leftResizeHandle" class="resize-handle @(UIState.LeftSidebarCollapsed ? "hidden" : "")"></div>

    <!-- Middle - Chat Window -->
    <div class="flex-1 flex flex-col bg-vscode-bg min-w-0">
        @Body
    </div>

    @if(ChatService.CurrentSession is not null)
    {
        <!-- Right Resize Handle -->
        <div id="rightResizeHandle" class="resize-handle @(UIState.RightSidebarCollapsed ? "hidden" : "")"></div>

        <!-- Right Sidebar - Context Panel -->
        <ContextPanel />
    }
</div>

<!-- Settings Popup -->
<SettingsPopup />

<!-- Toast Notifications -->
<Toaster Position="ToastPosition.BottomRight" RichColors="true" CloseButton="false" />