@using Cockpit.Components.Popups
@using Cockpit.Components.Popups.Settings
@using Cockpit.Components.Pages.SessionsPanel
@inherits LayoutComponentBase
@implements IDisposable

<!-- Main Container -->
<div class="flex h-screen">
    <!-- Left Sidebar - Sessions -->
    <SessionPanel />

    <!-- Left Resize Handle -->
    <div id="leftResizeHandle" class="resize-handle @(_uiStateFeature.LeftSidebarCollapsed ? "hidden" : "")"></div>

    <!-- Middle - Chat Window -->
    <div class="flex-1 flex flex-col bg-vscode-bg min-w-0">
        @Body
    </div>

    @if(_sessionListFeature.CurrentSession is not null)
    {
        <!-- Right Resize Handle -->
        <div id="rightResizeHandle" class="resize-handle @(_uiStateFeature.RightSidebarCollapsed ? "hidden" : "")"></div>

        <!-- Right Sidebar - Context Panel -->
        <ContextPanel />
    }
</div>

<!-- Settings Popup -->
<SettingsPopup @ref="_settingsPopup" />

<!-- Toast Notifications -->
<Toaster Position="ToastPosition.BottomRight" RichColors="true" CloseButton="true" />
